<nav aria-label="Page navigation" style="width: 100%" class="text-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="?{{ page_obj.previous_page_number.querystring }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li><span aria-hidden="true">&laquo;</span></li>
        {% endif %}

        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="current"><a href="#">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li><a href="#">...</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?{{ page_obj.next_page_number.querystring }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        {% else %}
            <li><span aria-hidden="true">&raquo;</span></li>
        {% endif %}
    </ul>

</nav>