{% extends 'base.html' %}
{% load blog_app_tags %}

{% block main %}
    <main class="col-md-12">
        <h1 class="page-title">About Me</h1>
        <article class="post">
            <div class="entry-content clearfix">
                <p>天造地设夺灵处，鬼斧神工截云驻</p>
                <br>
                <p>在下姓琚，字曌空，号焱，襄阳人士</p>
                <br>
                <p>Github: <a href="https://github.com/soleperson">https://github.com/soleperson</a></p>
                <p>Email: h2magic@126.com</p>
                <div class="height-40px"></div>
            </div>
        </article>
    </main>
{% endblock %}

{% block toc %}
    {% show_recent_articles %}
    {% show_archives %}
    {% show_categories %}
    {% show_tags %}
{% endblock %}