{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load blog_app_tags %}

{% block seo %}
    <meta name="description" content="{{ article_item.excerpt }}">
    <meta name="keywords" content="{{ article_item.seo_keywords }}">
{% endblock %}

{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">{{ article_item.title }}</h1>
            <div class="entry-meta">
                <span class="label label-warning"><a href="#">{{ article_item.category.name }}</a></span>
                <span class="label label-info">{{ article_item.created_time.date }}</span>
                <span class="label label-primary"> {{ article_item.blogcomment_set.count }} 评论</span>
                <span class="label label-success">{{ article_item.views }} 阅读</span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ article_item.body | safe }}
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        {% show_blog_comment_form article_item %}

        <div class="comment-list-panel">
            {% show_comments article_item %}
        </div>
    </section>
{% endblock %}

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ article_item.toc|safe }}
    </div>

    {% show_recent_articles %}
    {% show_archives %}
    {% show_categories %}
    {% show_tags %}

{% endblock %}

{% block sub_static_files %}
    <script src="{% static 'mathjax/tex-mml-chtml.min.js' %}"></script>
    <script src="{% static 'mathjax/highlight.min.js' %}"></script>
    <script src="{% static 'mathjax/highlightjs-line-numbers.min.js' %}"></script>

    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script id="MathJax-script" src="{% static 'mathjax/tex-svg.min.js' %}"></script>
{% endblock %}