{% extends 'base.html' %}

{% block main %}
    {% for article_item in article_list %}
        <article class="post post-{{ article_item.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ article_item.get_absolute_url }}">{{ article_item.title }}</a>
                </h1>

                <div class="entry-meta">
                    <span class="label label-warning"><a href="#">{{ article_item.category.name }}</a></span>
                    <span class="label label-info">{{ article_item.created_time.date }}</span>
                    <span class="label label-primary"> {{ article_item.blogcomment_set.count }} 评论</span>
                    <span class="label label-success">{{ article_item.views }} 阅读</span>
                </div>

            </header>
            <div class="entry-content clearfix">
                <p>{{ article_item.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ article_item.get_absolute_url }}" class="more-link">继续阅读 <span
                            class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <div class="pagination">
        <ul>
            <li><a href="">1</a></li>
            <li><a href="">...</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="current"><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">...</a></li>
            <li><a href="">11</a></li>
        </ul>
    </div>
{% endblock %}