{% load static %}

{% include 'blogadmin/admin_root.html' %}

{% block admin_breadcrumb %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>文章管理</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
{#                {% for bread in breadcrumb_list %}#}
{#                    <li class="breadcrumb-item {{ is_active }}"><a href="#">{{ bread }}</a></li>#}
{#                {% endfor %}#}
            </ol>
        </div>
    </div>
{% endblock %}

{% block admin_main_body %}

{% endblock %}