{% extends 'blogadmin/admin_root.html' %}
{% load administrator_tags %}
{% block admin_bread %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>标签列表</h1>
        </div>
    </div>
{% endblock %}

{% block admin_body %}
    {% all_categories as categories_list %}
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>标签名</th>
                    <th>文章数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for tag_name, article_number in categories_list %}
                    <tr>
                        <td>{{ tag_name }}</td>
                        <td>{{ article_number }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock %}